#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "movim"
name = "Movim"
description.en = "Decentralized social platform based on XMPP"
description.fr = "Plateforme sociale décentralisée basée sur XMPP"

version = "0.31.0~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0-or-later"
website = "https://movim.eu"
demo = "https://nl.movim.eu/?login"
admindoc = "https://github.com/movim/movim/wiki"
code = "https://github.com/movim/movim"
cpe = "cpe:2.3:a:movim:movim"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = true

disk = "50M"
ram.build = "100M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    url = "https://github.com/movim/movim/archive/refs/tags/v0.31.tar.gz"
    sha256 = "fdfc97202390744c7cf13e072735608a70eb4ceaea43ca923735e1e41b4eec53"
    autoupdate.strategy = "latest_github_tag"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "php8.3-curl",
        "php8.3-mbstring",
        "php8.3-imagick",
        "php8.3-gd",
        "php8.3-pgsql",
        "php8.3-xml",
        "postgresql",
        "postgresql-contrib",
        "apt-transport-https",
    ]

    [resources.database]
    type = "postgresql"

    [resources.composer]
    version = "2.8.11"
