[Unit]
Description=Movim: Responsive web-based XMPP client
After=nginx.service network.target local-fs.target postgresql.service

[Service]
Type=simple
User=__APP__
WorkingDirectory=__FINALPATH__
ExecStart=/usr/bin/php__PHP_VERSION__ daemon.php start --interface=127.0.0.1 --url=https://__DOMAIN____PATH__/ --port=__PORT__
StandardOutput=syslog
SyslogIdentifier=__APP__
PIDFile=/run/movim.pid
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
