[Unit]
Description=Movim daemon
After=nginx.service network.target local-fs.target postgresql.service

[Service]
Type=simple
User=__APP__
WorkingDirectory=__FINALPATH__
ExecStart=/usr/bin/php daemon.php start --url=https://__DOMAIN__ --port=__PORT__
StandardOutput=syslog
SyslogIdentifier=__APP__
PIDFile=/run/movim.pid
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
